* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  height: 500px;
  width: 500px;
}

.todo_wrapper input {
  padding: 10px;
  margin-bottom: 5rem;
}

button {
  padding: 10px;
  min-width: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  background: rgb(225, 225, 225);
}

button:active {
  background: rgb(187, 187, 187);
}

#todo_clear {
  display: none;
}

#output {
  width: 100%;
  padding: 2rem;
}

.todo_wrapper ul {
  list-style-type: none;
}

.todo_wrapper ul li {
  background: lightgray;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
